<p style="color: green"><%= notice %></p>

<%= render @lessson %>

<div>
  <%= link_to "Edit this lessson", edit_lessson_path(@lessson) %> |
  <%= link_to "Back to lesssons", lesssons_path %>

  <%= button_to "Destroy this lessson", @lessson, method: :delete %>
</div>
