<div class="card">
  <div class="card-header">
    <i class="fa-regular fa-user"></i> <%= user.email %>
  </div>
  <div class="card-footer">
    <i class="fa-regular fa-clock"></i> <%= time_ago_in_words(user.created_at)  %> Ago
  </div>
  <div class="card-footer">
    <%= 'sign_in_count'.humanize %> <%=  user.sign_in_count %> <br>
    <%= 'current_sign_in_at'.humanize %> <%=  user.current_sign_in_at.to_formatted_s(:long) unless user.last_sign_in_at.nil? %> <br>
    <%= 'last_sign_in_at'.humanize %> <%=  user.last_sign_in_at.to_formatted_s(:long) unless user.last_sign_in_at.nil? %> <br>
    <%= 'current_sign_in_ip'.humanize %> <%=  user.current_sign_in_ip %> <br>
  </div>
  <div class="card-footer">
    <span  class="badge bg-<%= user.confirmed_at ? "success" : "danger" %>"><%= user.confirmed_at ? "Yes" : "No" %></span>
  </div>
</div>