<div class="card  shadow rounded">
  <div class="card-header">
    <i class="fa-solid fa-book"></i> <%= link_to course.title, course, class: "text-decoration-none text-dark" %>
    <span class="text-warning"><i class="fa-solid fa-star"></i></span> <%= course.average_rating %> 
  </div>
  <div class="card-body">
    <%= simple_format(truncate(course.short_description, length: 50)) %>
  </div>
  <div class="card-footer text-center">
    <%= enroll_button(current_user, course) %>
    <%= review_button(current_user, course) %>
    <i class="fa-solid fa-spinner"></i> <%= number_to_percentage(course.progress(current_user), precision: 0)  %>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6">
        <i class="fa-solid fa-earth-americas"></i> <%= course.language %>
      </div>
      <div class="col-md-6 text-end">
        <i class="fa-solid fa-signal"></i> <%= course.level %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <i class="fa-solid fa-book-open"></i> <%= course.lessons_count %>
    (<i class="fa-solid fa-graduation-cap"></i> <%= course.enrollments_count %>)
    <i class="fa-solid fa-chalkboard-user"></i> <%= course.user.email.split('@').first %>
  </div>
  <div class="card-footer">
    <% if user_signed_in? && policy(course).edit?%>
      <%= link_to "Edit", edit_course_path(course), class: "btn btn-warning btn-sm" %>
      <%= link_to "Delete course", course, data: {"turbo-method": "delete", "turbo-confirm": "Do you want to delete this course?"}, class: "btn btn-danger btn-sm" %>
      <%= link_to "Add Lesson", new_course_lesson_path(course), class: "btn btn-info btn-sm" %>
    <% end %>
  </div>
</div>