<div class="card">
  <div class="card-header">
    <i class="fa-solid fa-book"></i> <%= link_to course.title, course, class: "text-decoration-none text-dark" %>
  </div>
  <div class="card-body">
    <%= simple_format(course.short_description) %>
  </div>
  <div class="card-footer text-center">
    <%= enroll_button(current_user, course) %>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-6">
        <i class="fa-solid fa-earth-americas"></i> <%= course.language %>
      </div>
      <div class="col-md-6 text-end">
        <i class="fa-solid fa-signal"></i> <%= course.level %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <i class="fa-solid fa-book-open"></i> <%= pluralize(course.lessons.count, "lesson") %>
  </div>
  <div class="card-footer">
    <i class="fa-solid fa-calendar-days"></i> <%= course.created_at.to_formatted_s(:long) %> <br>
    <i class="fa-solid fa-chalkboard-user"></i> <%= course.user.email %>
  </div>
  <div class="card-footer">
    <% if user_signed_in? && policy(course).edit?%>
      <%= link_to "Edit", edit_course_path(course), class: "btn btn-warning" %>
    <% end %>
  </div>
</div>