<% @title = @course.title + " Course" %>

<%= link_to "Courses", courses_path, class: "text-decoration-none" %> >
<%= link_to @course.title, @course, class: "text-decoration-none" %>
<p></p>

<div class="row">
  <!-- Jumbotron -->
  <div class="col-md-12 mb-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2><%= @course.title %></h2>
      <p><%= @course.short_description %></p>

      <button class="btn btn-outline-light" type="button">Example button</button>
    </div>
  </div>
  <div class="col-lg-8 order-1 order-lg-1">
    <h4>
      <i class="fa-solid fa-list-check"></i>
      Lessons: <%= @course.lesson_completed(current_user) %>/<%= @course.lessons_count %> 
      <div class="float-end">
        <i class="fa-solid fa-spinner"></i>
        <%= number_to_percentage(@course.progress(current_user), precision: 0) %>
      </div>
    </h4>
    <div class="overvlow-scroll">
      <% @lessons.each do |lesson| %>
        <div class="list-group list-group-numbered">
          <%= render "lessons/lesson_preview", lesson: lesson %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 order-0 order-lg-1">
    <div class="sticky-top">
      <%= render @course %>
    </div>
  </div>
</div>

<hr>

<div class="">
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Review</a>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <% @reviews.each do |review| %>
            <%= render "enrollments/enrollment", enrollment: review%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>